JWT_SECRET_KEY=f5672a601cb480129c3e66779b6daedf25ddeb4f4515d611fb3d97082a6b4021
WEBHOOK_VERIFY_TOKEN=EABbnZBgy09ewBO4ZCsdyG6aXJa3hNuiV6LSHftdNp9hVuzoy3KTJb9cERY4nAdiBZCUWZA9IgvZBZB3ZCPQjx4XjbAjMTUDXphjqgZAwrKIJXKazjHjBCBN8RSVmw1DKoCwxS8JVCCGZA9tjdbquxspCkavymksl51mCNFjZAZA1xbu01A64dXLvT6QFUDjWm2dxcBnhgZDZD
FACEBOOK_APP_SECRET=424af0252c77cff2c6b2e73eab408882
WHATSAPP_ACCESS_TOKEN=EABbnZBgy09ewBO29B1pQZCg9sZB6ZBFrKZCgFakHRbxwhLwogr5AZBwLXJcT30pwkcNXZAZAgZC3nd4cjF9y9aDRyblUcGRnlLvQvUUeWXBQUFuxqIAK0qOZCXfYXTvqkWuUkmwtVkyYyNQeBVkjmWFeMZByYViR0SFiauFhVJnXoZBJZCYTpkBiggVcnz7XCtZBtWEWt4yETITlZBIdZCvEWRwd
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtZ2t4Z3Vsamd5Z2Riam9sbHZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI4NzUxNTksImV4cCI6MjA0ODQ1MTE1OX0.kb5I1WEi0z2FybACDy84xPlyL2RaMvB-mY0HMkx-rV0
SUPABASE_URL=https://pmgkxguljgygdbjollvx.supabase.co
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtZ2t4Z3Vsamd5Z2Riam9sbHZ4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMjg3NTE1OSwiZXhwIjoyMDQ4NDUxMTU5fQ.h8Ld5z-PTsc_2U5aimHFhoDGXJ8WiNsyCfai-sekH1Y
WHATSAPP_API_PHONE_NUMBER_ID=123939660802522
WHATSAPP_BUSINESS_ACCOUNT_ID=121359151063061
